{% extends '@ezdesign/content_variable/layout.html.twig' %}
{% set show_left_sidebar = true %}

{% trans_default_domain "content_variables" %}

{% block content %}
    <div class="row align-items-stretch ez-main-row">
        {% block left_sidebar %}
            {{ parent() }}
        {% endblock left_sidebar %}

        <div class="px-0 pb-4 ez-content-container">
            <div class="ez-header">
                <div class="container">
                    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
                        { value: 'path.root'|trans, url: path('content_variables.collection.list') },
                        { value: 'path.collections'|trans }
                    ]} %}
                    {% include '@ezdesign/content_variable/parts/page_title.html.twig' with {
                        title: 'title.collections'|trans,
                        iconsFile: 'bundles/ezplatformcontentvariables/img/icons.svg',
                        iconName: 'content-variables-manager',
                    } %}
                </div>
            </div>

            {% set form_id = 'collections_bulk_actions' %}
            <section class="container mt-4 px-5">
                <div class="ez-table-header">
                    <div class="ez-table-header__headline">{{ 'title.collections'|trans }}</div>
                    <div>
                        {% include '@ezdesign/content_variable/buttons/new.html.twig' with {
                            'title': 'collection.new'|trans,
                            'href': path('content_variables.collection.new'),
                        } %}
                        {% if collections|length > 0 %}
                            {% include '@ezdesign/content_variable/buttons/update_priority.html.twig' with {
                                'title': 'collection.update_priority'|trans,
                                'id': 'update-priority-variables',
                                'form_id': form_id,
                                'action': 'updatePriority',
                            } %}
                            {% include '@ezdesign/content_variable/buttons/delete.html.twig' with {
                                'title': 'collection.delete'|trans,
                                'id': 'delete-collections',
                                'form_id': form_id,
                                'action': 'delete',
                                'modal_data_target': 'delete-collections-modal',
                                'message': 'collection.delete.modal.message'|trans,
                            } %}
                        {% endif %}
                    </div>
                </div>

                {% if collections|length > 0 %}
                    {{ form_start(form, {
                        'attr': {
                            'class': 'ez-toggle-btn-state',
                            'data-toggle-button-id': '#delete-collections',
                            'id': form_id
                        }
                    }) }}
                    <table class="ez-table table mb-3">
                        <thead>
                        <tr>
                            <th class="ez-table__cell--has-checkbox"><input type="checkbox" /></th>
                            <th>{{ 'collection.name'|trans }}</th>
                            <th>{{ 'collection.priority'|trans }}</th>
                            <th>{{ 'collection.variables'|trans }}</th>
                            <th>{{ 'collection.description'|trans }}</th>
                            <th/>
                        </tr>
                        </thead>
                        <tbody>
                        {% for collection in collections %}
                            <tr>
                                <td class="ez-table__cell ez-table__cell--has-checkbox">
                                    {{ form_widget(form.selectedId[collection.id], {"disabled": not collection.canBeDeleted}) }}
                                </td>
                                <td class="ez-table__cell"><a href="{{ path('content_variables.list', {'id': collection.id}) }}">{{ collection.name }}</a></td>
                                <td class="ez-table__cell">
                                    <div class="c-table-view-item__inner-wrapper--input">
                                        {{ form_widget(form.priority[collection.id], {
                                            'attr': {'class': 'form-control content-variable-priority-value'}
                                        }) }}
                                    </div>
                                </td>
                                <td class="ez-table__cell"><a href="{{ path('content_variables.list', {'id': collection.id}) }}">{{ collection.contentVariables|length }}</a></td>
                                <td class="ez-table__cell">{{ collection.description }}</td>
                                <td class="ez-table__cell ez-table__cell--has-action-btns text-right">
                                    {% include '@ezdesign/content_variable/buttons/edit.html.twig' with {
                                        'title': 'collection.edit'|trans({'%name%': collection.name|u.truncate(50) }),
                                        'href': path('content_variables.collection.edit', {'id': collection.id}),
                                    } %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ form_end(form) }}
                    <div class="row justify-content-center align-items-center mb-2">
                        <span class="ez-pagination__text">
                            {{ 'pagination.viewing'|trans({
                                '%viewing%': pager.currentPageResults|length,
                                '%total%': pager.nbResults}, 'pagination')|raw }}
                        </span>
                    </div>
                    {% if pager.haveToPaginate %}
                        <div class="row justify-content-center align-items-center ez-pagination__btn mb-5">
                            {{ pagerfanta(pager, 'ez') }}
                        </div>
                    {% endif %}
                {% else %}
                    <p class="ez-table-no-content">{{ 'collections.no_items'|trans }}</p>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-content-variables-collection-list-js', null, 'ezplatform') }}
{% endblock %}