{% extends '@ezdesign/content_variable/layout.html.twig' %}
{% set show_left_sidebar = true %}

{% trans_default_domain "content_variables" %}

{% block content %}
    <div class="row align-items-stretch ez-main-row">
        {% block left_sidebar %}
            {{ parent() }}
        {% endblock left_sidebar %}

        <div class="px-0 pb-4 ez-content-container">
            <div class="ez-header">
                <div class="container">
                    {% include '@ezdesign/parts/breadcrumbs.html.twig' with { items: [
                        { value: 'path.collections'|trans, url: path('content_variables.collection.list') },
                        { value: 'path.variables'|trans, url: path('content_variables.list', {'id': variable.collection.id}) },
                        { value: 'path.linked_content'|trans },
                    ]} %}
                    {% include '@ezdesign/parts/page_title.html.twig' with {
                        title: 'variables.linked_content.title'|trans({'%name%': variable.name|truncate(50) }),
                        iconName: 'view-custom'
                    } %}
                </div>
            </div>

            <section class="container mt-4 px-5">
                {% if linked_content|length > 0 %}
                    <table class="ez-table table mb-3">
                        <thead>
                            <tr>
                                <th>{{ 'variable.related_content.name'|trans }}</th>
                                <th>{{ 'variable.related_content.version'|trans }}</th>
                                <th>{{ 'variable.related_content.field'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in linked_content %}
                            <tr>
                                <td class="ez-table__cell">
                                    <a href="{{ path('_ez_content_view', {'contentId': item.content.id}) }}" target="_blank">{{ item.content.name }}</a>
                                </td>
                                <td class="ez-table__cell">
                                    <a href="{{ path('ezplatform.content.preview', {'contentId': item.content.id, 'versionNo': item.content.versionInfo.versionNo, 'languageCode': item.content.versionInfo.languageCodes[0]}) }}" target="_blank">{{ item.content.versionInfo.versionNo }}</a>
                                </td>
                                <td class="ez-table__cell">{{ item.field_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="ez-table-no-content">{{ 'variable.related_content.no_items'|trans }}</p>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}