<button
    id="{{ id }}"
    type="button"
    class="btn ibexa-btn ibexa-btn--secondary update-bulk-action"
    disabled
    data-bs-toggle="modal"
    data-bs-target="#{{ modal_data_target }}"
    data-bss-action="{{ action }}"
    data-form="#{{ form_id }}"
    data-action-element="#{{ form_id }}_action"
    data-action="{{ action }}"
    title="{{ title }}"
>
    <svg class="ibexa-icon ibexa-icon-trash">
        <use xlink:href="{{ asset('bundles/ibexaadminui/img/ibexa-icons.svg') }}#trash"/>
    </svg>
</button>


{% include '@ibexadesign/content_variable/ui/modal/delete_confirmation.html.twig' with {
    'id': modal_data_target,
    'message': message,
    'data_click': '#' ~ form_id ~ '_do_action',
} %}
